.skeleton {
    background-color: var(--color-background-secondary, #eee);
    background-image: linear-gradient(90deg,
            var(--color-background-secondary, #eee),
            var(--color-background-tertiary, #f5f5f5),
            var(--color-background-secondary, #eee));
    background-size: 200px 100%;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: var(--radius-sm, 4px);
    line-height: 1;
    width: 100%;
    animation: skeleton-loading 1.5s ease-in-out infinite;
}

.circle {
    border-radius: 50%;
}

@keyframes skeleton-loading {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}